.rheostat {
  overflow: visible;
}

.rheostat-background {
  background-color: #ff5a5f;
  /*border: 1px solid #d8d8d8;*/
  position: relative;
}

.rheostat-progress {
  background-color: #ff5a5f;
  position: absolute;
}

.rheostat-handle {
  border: 1px solid #aaa;
  background: #fff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  cursor: pointer;
  height: 24px;
  margin-left: -12px;
  outline: none;
  position: absolute;
  z-index: 2;
  width: 24px
}
